.blog-avatar {
    border-radius: 10px;
    margin: auto;
    display: block;
}

.blog-centralize {
    text-align: center;
}

.blog-social {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 10px; */
}

.blog-social>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.blog-social>div>a>img {
    display: block;
}

.blog-description {
    margin-left: 20px;
}

.blog-color {
    color: #47006d;
    /* background-color: #ffd900; */
}

.blog-justify {
    text-align: justify;
}

.blog-details {
    border: 0;
    padding: 0;
    text-align: left;
    padding-left: 20px;
}